﻿<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/lib/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" />
<link rel="stylesheet" href="~/lib/bootstrap-tagsinput/dist/bootstrap-tagsinput-typeahead.css" />
<link rel="stylesheet" href="~/lib/typeahead.js-bootstrap3.less/typeaheadjs.css" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/typeahead.js/dist/typeahead.bundle.js"></script>
<script src="~/lib/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>

@{
    ViewData["Title"] = "Suggest music";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


@model SpotOn.App.Models.SuggestMusicViewModel

<div class="container body-content">
    <div class="col-md-10">
        <section>
            @using (Html.BeginForm("Results", "SuggestMusic", FormMethod.Post))
            {
                <p>Please mind that total number of items must not exceed 5.</p>
                <p>
                    @Html.ValidationMessage("Model", new { @class = "text-danger" })
                </p>

                <label>What are your favourite genres?</label>

                <div class="form-group">
                    <div id="favgenres">
                        @Html.TextBoxFor(m => m.FavouriteGenres,
                        new
                        {
                            @class = "typeahead wide-control",
                            @data_role = "tagsinput"
                        })
                    </div>
                </div>

                <label>What are your favourite artists?</label>

                <div class="form-group">
                    <div id="favartists">
                        @Html.TextBoxFor(m => m.FavouriteArtistIds,
                        new
                        {
                            @class = "typeahead wide-control",
                            @data_role = "tagsinput"
                        })
                    </div>
                </div>

                <label>What are your favourite tracks?</label>

                <div class="form-group">
                    <div id="favtracks">
                        @Html.TextBoxFor(m => m.FavouriteTrackIds,
                        new
                        {
                            @class = "typeahead wide-control",
                            @data_role = "tagsinput"
                        })
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default" id="submit">Submit</button>
                </div>
                }
        </section>
    </div>
</div>
<script>

    var genres = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.nonword('name'),
        queryTokenizer: Bloodhound.tokenizers.nonword,
        prefetch: '../api/Spotify/GetGenres'
    });

    $('#favgenres .typeahead').tagsinput({
        confirmKeys: [],
        itemValue: 'name',
        itemText: 'name',
        typeaheadjs: {
            limit: 25,
            name: 'genres',
            display: 'name',
            source: genres
        }
    });

    var artists = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.nonword('name'),
        queryTokenizer: Bloodhound.tokenizers.nonword,
        remote: {
            url: '../api/Spotify/FindArtists?input=%QUERY',
            wildcard: '%QUERY'
        }
    });

    $('#favartists .typeahead').tagsinput({
        confirmKeys: [],
        itemValue: 'id',
        itemText: 'name',
        typeaheadjs: {
            name: 'artists',
            display: 'name',
            source: artists
        }
    });

    var tracks = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.nonword('name'),
        queryTokenizer: Bloodhound.tokenizers.nonword,
        remote: {
            url: '../api/Spotify/FindTracks?input=%QUERY',
            wildcard: '%QUERY'
        }
    });

    $('#favtracks .typeahead').tagsinput({
        confirmKeys: [],
        itemValue: 'id',
        itemText: 'name',
        typeaheadjs: {
            name: 'tracks',
            display: 'displayName',
            source: tracks
        }
    });

</script>



